In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('data1.csv')
new_nums = ['1', '2', '2', '1', '2', '2', '2', '1']
df['Numbers'] = new_nums
dfy = pd.DataFrame(data = np.array(df), columns = df.columns.tolist())
dfy

   Region   Country Product Sales Numbers
0    Asia     India       A   200       1
1    Asia  Thailand       A   150       2
2    Asia     India       B   175       2
3    Asia  Thailand       B   225       1
4    Asia     Japan       D   325       2
5  Europe     Italy       A   120       2
6  Europe    Turkey       A   130       2
7  Europe     Italy       B   160       1

In [15]:
dfy1 = dfy.drop_duplicates()
#yp = len(dfy1.groupby('Region'))
#numb = len(dfy1.groupby('Product'))
#numb
count = len(dfy1) + 1 
count

9

In [16]:
for i in list(dfy1.groupby('Region')):
    for j in list(dfy1.groupby('Numbers')): 
        count = count + len(list(i[1].groupby('Product'))) + 1 
count

23